.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    color: aliceblue;
}

.container img {
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #00d9ff;
}