.footer {
  grid-column: 1 / 4;
  grid-row: 3;
  padding: 2rem;
}

.footer p {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #00d9ff;
    text-align: center;
}
