.header{
    background-color:#103d79;
    color:white;
    padding:20px;
    position: relative;
    display: flex;
    align-items: center;
}

.header nav {
    margin-left: auto;
}

.header nav a {
    position: relative;
    display: flex;
    align-items: center;
}

.header h1 {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    white-space: nowrap;
}

.header nav a span {
    background-color: #103d79;
    color: #FFD700;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -8px;
    right: -12px;
    font-weight: 900;
}