.container {
    background-color: rgba(26, 26, 26, 0.95);
    min-height: 100vh;
    padding: 3rem 2rem;
    font-family: "Inter", sans-serif;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.content {
    display: flex;
    gap: 3rem;
    align-items: flex-start;
    width: 100%;
}

.leftSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 450px;
    max-width: 480px;
    /* border-right: 1px solid rgba(0, 217, 255, 0.3); */
}

.rightSection {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.title {
    font-size: 2rem;
    color: #00d9ff;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: #ccc;
    margin-top: 5rem;
}

.socials {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.socialLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    color: #00d9ff;
    font-size: 0.85rem;
    transition: 0.2s;
}

.socialLink:hover {
    color: #FFD700;
    filter: drop-shadow(0 0 6px #FFD700);
    transform: translateY(-4px);
}

.teamTitle {
    font-size: 1.3rem;
    color: #00d9ff;
    margin: 0;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .container {
        padding: 2rem 1rem;
    }

    .socials {
        gap: 1rem;
    }

    .content {
        flex-direction: column;
    }
}